
.cat-lists {
  height: 100vh-100px;
}

.cat-list { 
  height: 500px;
  width: 450px;
  background-color: rgb(241, 236, 236);
  margin: 50px auto;
}

.cat-img {
  margin: 20px auto;
  border-radius: 5%;
  height: 390px;
  width: 310px;
}

.cat-img:hover {
  opacity:0.8;
}

.cat-img-content {
  display: flex;
  justify-content: space-around;
}

.cat-link {
 text-decoration: none;
}

.cat-name {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.cat-name-tag {
  text-decoration: none;
  color: black;
}

.cat-name-tag:hover{
  text-decoration: none;
}

.cat-health {
  text-decoration: none;
  color: black;
  display: block;
  text-align: center;
}


