header.header {
  border-bottom: black solid 3px ;
  height: 100px;
  display: flex; 
}

.header-title {
  width: 50%;
  margin-left: 80px;
  margin-top: 50px;
}

.header-title a{
  text-decoration: none;
  color: black;
  font-size: 30px;
  font-weight: bold;
}

.header-bar {
  width: 50%;
}

.header-lists {
  display: flex;
  justify-content: space-around;
  padding-top: 55px;
}

.header-lists a{
  text-decoration: none;
  color: black;
  display: block;
  
}

