<header class="header">
  <div class="header-title">
    <h1 class="title"><a href="/">Cat Record</a></h1>
  </div>
  <div class="header-bar">
    <div class="header-lists">
      <a class="post" href="/">記録をつける</a>
      <a class="profile" href="/">猫様を追加</a>
      <a class="login" href="/">ログイン</a>
      <a class="logout" href="/">ログアウト</a>
    </div>
  </div>
</header>