<header class="header">
  <div class="header-title">
    <h1 class="title"><a href="/">うちの子の記録</a></h1>
  </div>
  <div class="header-bar">
    <div class="header-lists">
      <%= link_to "記録をつける", new_health_path, class:"post" %>
      <%= link_to "うちの子を追加", new_cat_path,  class:"profile" %>
      <a class="login" href="/">ログイン</a>
      <a class="logout" href="/">ログアウト</a>
    </div>
  </div>
</header>