.cat-health-contents { 
  height: 1420px;
  width: 500px;
  background-color: rgb(241, 236, 236);
  margin: 30px auto;
  padding: 60px 90px;
  border-radius: 4px;
}

.cat-health-contents-edit { 
  height: 1350px;
  width: 500px;
  background-color: rgb(241, 236, 236);
  margin: 30px auto;
  padding: 60px 90px;
  border-radius: 4px;
}



.cat-health-title {
  font-size: 22px;
  font-weight: bold;
  display: block;
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 30px;
  letter-spacing: 3px;
}

/* 共通 */
.indispensable {
  background: gray;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.weight-bold-text {
  font-weight: bold;
  min-width: 170px;
  margin-bottom: 10px;
}

.health-select-box {
  height: 40px;
  width: 100%;
  background-color: #f5f5f;
  border-radius: 4px;
  border: 1px solid #ccc;
}

/* /共通 */

/* 記録入力 */
.cat-select { 
  margin-bottom: 50px;
}

.health-date {
  margin-bottom: 50px;
}

.date-input {
  height: 40px;
  width: 100%;
  background-color: #f5f5f;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 5px;
}

.health-food {
  margin-bottom: 50px;
}

.health-tulle {
  margin-bottom: 50px;
}

.health-play {
  margin-bottom: 50px;
}

.health-weight {
  margin-bottom: 50px;
}

.weight-input {
  width: 100%;
  height: 30px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
}

.health-poop {
  margin-bottom: 50px;
}

.health-pee {
  margin-bottom: 50px;
}

.health-comment { 
  margin-bottom: 50px;
  width: 100%;
}

.comment-input {
  width: 100%;
  height: 70px;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: block;
  padding: 8px;
}

/* /記録入力 */

/* 下部ボタン */
.registration-btn-contents {
  text-align: center;
}

.registration-btn {
  background: rgb(233, 113, 113);
  border: 1px solid rgb(233, 113, 113);
  color: #fff;
  width: 100%;
  height: 50px;
  font-size: 14px;
  margin-bottom: 40px;
  border-radius: 4px;
  box-shadow: 2px 2px 4px rgb(163, 162, 162);
}

.registration-btn:hover {
  opacity:0.8;
}

.registration-btn:active {
  -webkit-transform: translate(0,2px);
	-moz-transform: translate(0,2px);
	transform: translate(0,2px);
	border-bottom:none;
}

.back-btn {
  background: #aaa;
  border: 1px solid #aaa;
  color: #fff;
  padding: 15px 35%;
  text-decoration: none;
  border-radius: 4px;
  box-shadow: 2px 2px 4px rgb(163, 162, 162);
}


.back-btn:hover {
  opacity:0.8;
  text-decoration: none;
  color: #fff;
}

.back-btn:active {
  -webkit-transform: translate(0,2px);
	-moz-transform: translate(0,2px);
	transform: translate(0,2px);
	border-bottom:none;
}

